
extends ./layout

block content
    if numOfThreads
        ul.list#threadList
            each thread in threads
                li(ripple="")
                    img.item-icon(src=thread.avatarURL)
                    span.item-text #{thread.threadTitle}
                        span.secondary-text Posted on #{thread.timeStamp} by #{thread.username}
    button.button.raised.bg-brown-500.color-white#newThreadButton New Thread
    //modal
    .modal.fade#addThreadModal(tabindex='-1', role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Add A New Thread
                .modal-body
                    input#nameOfNewPoster(placeholder="What's your name?")
                    input#newThreadTitle(placeholder="Enter a title for your thread")
                    input#postersImage(placeholder="URL for your image")
                    textarea#newThreadPost(rows="6" cols="50")
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#createNewThread(type='button') Create New Thread

