extends ./layout

block content
    div#threadTitleDiv
        div
            h1#threadTitle This is the title
        div#threadInitialBody
            img.item-icon(src="https://s.gravatar.com/avatar/1b86c137a05637c3cfdd87398c2882af?s=80")
            span.item-text#initialPostBody This is where the post subject will be blah
                a.bold.editThread(ripple="" data-postID="#{initialPostID}") Edit Post
    //edit post modal
    .modal.fade#editPostModal(tabindex='-1', role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    h2.modal-title Edit Your Post
                .modal-body
                     h3 Redo your post down below
                    textarea#newThreadPost(rows="6" cols="50")
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#confirmEdits(type='button') Edit Your Post


