#threadTitleDiv {
    float: right;
    width: 70%;
    background-color: white;

}

.deleteThread {
    float: right;
    marin-right: 10px;
}
.threadTitleText {
    float: right;
}

.sidebar {
    background-color: #8D6E63;
}

body {
    background-color: #FFECB3;
}

#potato {
    background-color: red;
    max-height: 100px;
    max-width: 100px;

}

#currentPageTextDiv {
    text-align: center;
    height: 18%;
}

#currentPage {
    font-size: 200%;
    color: white:
}

#sidemenuList {
    text-align: center;
}

.openThread {
    float: right;
}

img {
    max-height: 80px;
    max-width: 80px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}